@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<AboutElectrictSection>>
@{
    var content = Model?.Content;
}



<!------------------------------ about-electricity --------------------------->

<div class="about-electricity" id="about-electricity">
    <div class="container">
        <div class="inner-section">
            <h1 class="black-950">@content?.HeadingLabel</h1>
            @Html.Raw(content?.DescriptionLabel)
        </div>
    </div>
</div>
