@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<AboutBuyElectricitySection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
}

<div class="electricity-banner alt-contact-section @setting?.Theme">
    <div class="container">
        <div class="row align-items-center">
            @if (content?.ContentBlocks?.Count > 0)
            {
                @foreach (var item in content?.ContentBlocks)
                {
                    var alias = item?.Content?.ContentType?.Alias;
                    if (alias == ContentBlock.ModelTypeAlias)
                    {
                        var contentModel = item?.Content as ContentBlock;
                        <div class="col-md-9">
                            <div class="contact-section-outer">
                                <div class="contact-section">
                                    <h1>@contentModel?.HeadingText</h1>
                                    <div class="contact-section-para">
                                        @Html.Raw(contentModel?.DescriptionText)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (alias == TextListWithIcon.ModelTypeAlias)
                    {
                        var contentModel = item?.Content as TextListWithIcon;
                        <div class="col-md-3">
                            <ul class="electricity-banner-list turquoise_bg">

                                @if (contentModel?.TextList?.Count > 0)
                                {
                                    @Html.GetBlockListHtml(contentModel?.TextList)
                                }
                            </ul>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

