@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ChargingPackagesSection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
}

@if (content != null)
{
    <div class="pacakge-section @setting?.Theme">
        <div class="container-xl">
            @if (!string.IsNullOrWhiteSpace(content.Heading) || !string.IsNullOrWhiteSpace(content.Description?.ToString()))
            {
                <div class="section-heading">
                    @if (!string.IsNullOrWhiteSpace(content.Heading))
                    {
                        <h2>@content.Heading</h2>
                    }

                    @if (!string.IsNullOrWhiteSpace(content.Description?.ToString()))
                    {
                        @Html.Raw(content.Description)
                    }
                </div>
            }

            <div class="package-list">
                <div class="row justify-content-center">
                    @await Html.PartialAsync("~/Views/Partials/_ChargingPackages.cshtml")
                </div>
            </div>
        </div>
    </div>
}
