@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ContactSection>>
@{
    var ContactSection = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
}

<!---------------------------------- contact section ------------------------->

<div class="page-title @setting?.Theme">
    <div class="container">
        <div class="contact-section">
            @if (!string.IsNullOrWhiteSpace(ContactSection?.Heading?.ToString()))
            {
                @Html?.Raw(ContactSection?.Heading)
            }

            <div class="contact-section-para">
                @Html?.Raw(ContactSection?.SectionContent)
            </div>

            @if (ContactSection?.ButtonList?.Count > 0)
            {
                <div class="multiple-buttons m-auto">
                    @Html.GetBlockListHtml(ContactSection?.ButtonList)

                </div>
            }
        </div>
    </div>
</div>
