@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ElectricityExchangeSpotSection>>

@{
    var content = Model?.Content;
}

<!-------------------------------------- earn price-minus --------------------->

<div class="electricity-exchange @content?.Theme">
    <div class="container">
        <div class="section-heading">
            <h2>@content?.HeadingText</h2>
        </div>
        <div class="row">
            @if (content?.ExchangeSpotBlocks?.Count > 0)
            {
                @foreach (var item in content?.ExchangeSpotBlocks)
                {
                    var blockModel = item?.Content as ExchangeSpotBlock;
                    <div class="col-lg-3 col-md-6">
                        <div class="electricity-card">
                            <div class="card-header">
                                <img src="@blockModel?.Icon?.MediaUrl()" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="title">@blockModel?.Title</h5>
                                <p>(@blockModel?.SubTitle)</p>
                                @Html?.Raw(blockModel?.DescriptionText)
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

