@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<FiberPackageSection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
}


<!-------------------------------------- pacakge --------------------->
<div class="pacakge-section @setting?.Theme">

    <div class="container-xl">
        <div class="section-heading">
            <h2>Find den rigtige fiberpakke</h2>
        </div>
        <div class="package-list">
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                    <div class="package-card">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4>
                                        nef Fritidshus
                                    </h4>
                                    <p>En stabil og ideel forbindelse til fornødenhederne i fritidshuset. </p>
                                </div>
                                <div class="price">
                                    <h3>219 kr.</h3>
                                    <p>/ pr. md.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            75/75 Mbit/s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Waoo Smart WiFi 20 kr./md./s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <a href="#searchInternetPackages" data-bs-toggle="modal" type="button" class="btn white_bg_btn border_black-200 m-auto">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.7636 10.4077C20.7636 16.0233 14.2643 21.0201 12.7277 22.123C12.5168 22.2744 12.2663 22.3487 12.0068 22.3487C11.7473 22.3487 11.4968 22.2744 11.2859 22.123C9.74924 21.0201 3.25 16.0233 3.25 10.4077C3.25 5.57142 7.17054 1.65088 12.0068 1.65088C16.8431 1.65088 20.7636 5.57142 20.7636 10.4077Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.82227 9.61062C8.82227 10.4552 9.15776 11.2651 9.75494 11.8623C10.3521 12.4595 11.1621 12.795 12.0066 12.795C12.8512 12.795 13.6611 12.4595 14.2583 11.8623C14.8555 11.2651 15.191 10.4552 15.191 9.61062C15.191 8.76608 14.8555 7.95612 14.2583 7.35894C13.6611 6.76176 12.8512 6.42627 12.0066 6.42627C11.1621 6.42627 10.3521 6.76176 9.75494 7.35894C9.15776 7.95612 8.82227 8.76608 8.82227 9.61062Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                        Tjek adresse
                                    </a>
                                    <a href="#readMorePopup" data-bs-toggle="modal" class="package-link">Læs mere</a>
                                    <p>
                                        Pris i binding 6 mdr. 1.314 kr.<br>
                                        uden Waoo Smart WiFi
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                    <div class="package-card">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4>
                                        nef Altid
                                    </h4>
                                    <p>Er I flere i husstanden, som kun tjekker mails, går lidt på sociale medier, internettet og streamer fra et par devices, så er denne pakke til jer.  </p>
                                </div>
                                <div class="price">
                                    <h3>299 kr.</h3>
                                    <p class="small">/ pr. md.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            90/90 Mbit/s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Waoo Smart WiFi 20 kr./md./s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <a href="#searchInternetPackages" data-bs-toggle="modal" type="button" class="btn white_bg_btn border_black-200 m-auto">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.7636 10.4077C20.7636 16.0233 14.2643 21.0201 12.7277 22.123C12.5168 22.2744 12.2663 22.3487 12.0068 22.3487C11.7473 22.3487 11.4968 22.2744 11.2859 22.123C9.74924 21.0201 3.25 16.0233 3.25 10.4077C3.25 5.57142 7.17054 1.65088 12.0068 1.65088C16.8431 1.65088 20.7636 5.57142 20.7636 10.4077Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.82227 9.61062C8.82227 10.4552 9.15776 11.2651 9.75494 11.8623C10.3521 12.4595 11.1621 12.795 12.0066 12.795C12.8512 12.795 13.6611 12.4595 14.2583 11.8623C14.8555 11.2651 15.191 10.4552 15.191 9.61062C15.191 8.76608 14.8555 7.95612 14.2583 7.35894C13.6611 6.76176 12.8512 6.42627 12.0066 6.42627C11.1621 6.42627 10.3521 6.76176 9.75494 7.35894C9.15776 7.95612 8.82227 8.76608 8.82227 9.61062Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                        Tjek adresse
                                    </a>
                                    <a href="#readMorePopup" data-bs-toggle="modal" class="package-link">Læs mere</a>
                                    <p>
                                        Pris i binding 6 mdr. 1.314 kr.<br>
                                        uden Waoo Smart WiFi
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                    <div class="package-card">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4>
                                        Waoo Fiber Basic
                                    </h4>
                                    <p>Er I et par stykker i husstanden, som streamer, holder online-møder, spiller lidt spil online og downloader data, har I brug for denne pakke.</p>
                                </div>
                                <div class="price">
                                    <h3>339 kr.</h3>
                                    <p>/ pr. md.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            300/300 Mbit/s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Waoo Smart WiFi Uno
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Sikkerhedspakke
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <a href="#searchInternetPackages" data-bs-toggle="modal" type="button" class="btn white_bg_btn border_black-200 m-auto">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.7636 10.4077C20.7636 16.0233 14.2643 21.0201 12.7277 22.123C12.5168 22.2744 12.2663 22.3487 12.0068 22.3487C11.7473 22.3487 11.4968 22.2744 11.2859 22.123C9.74924 21.0201 3.25 16.0233 3.25 10.4077C3.25 5.57142 7.17054 1.65088 12.0068 1.65088C16.8431 1.65088 20.7636 5.57142 20.7636 10.4077Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.82227 9.61062C8.82227 10.4552 9.15776 11.2651 9.75494 11.8623C10.3521 12.4595 11.1621 12.795 12.0066 12.795C12.8512 12.795 13.6611 12.4595 14.2583 11.8623C14.8555 11.2651 15.191 10.4552 15.191 9.61062C15.191 8.76608 14.8555 7.95612 14.2583 7.35894C13.6611 6.76176 12.8512 6.42627 12.0066 6.42627C11.1621 6.42627 10.3521 6.76176 9.75494 7.35894C9.15776 7.95612 8.82227 8.76608 8.82227 9.61062Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                        Tjek adresse
                                    </a>
                                    <a href="#readMorePopup" data-bs-toggle="modal" class="package-link">Læs mere</a>
                                    <p>
                                        Pris i binding 6 mdr. 1.314 kr.<br>
                                        uden Waoo Smart WiFi
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                    <div class="package-card">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4>
                                        Waoo Fiber Extra
                                    </h4>
                                    <p>Er I flere i husstanden, som hele tiden er på internettet samtidigt, hvor I streamer, gamer og downloader masser af data, er denne pakke til jer.</p>
                                </div>
                                <div class="price">
                                    <h3>419 kr.</h3>
                                    <p>/ pr. md.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            1000/1000 Mbit/s
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Sikkerhedspakke
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Waoo Smart WiFi Duo
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                    <li>
                                        <p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <g clip-path="url(#clip0_422_9720)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z" fill="#AAD29B" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_9720">
                                                        <rect width="16.0032" height="16.0032" fill="white" transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            25 GB online harddisk
                                        </p>
                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Der vil blive skrevet en tekst her... En meget infomerende tekst.">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_1_8594)">
                                                    <path d="M12.0052 22.3502C17.7208 22.3502 22.3541 17.7169 22.3541 12.0013C22.3541 6.28572 17.7208 1.65234 12.0052 1.65234C6.28963 1.65234 1.65625 6.28572 1.65625 12.0013C1.65625 17.7169 6.28963 22.3502 12.0052 22.3502Z" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M9.61719 16.778H14.3936" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0062 16.778V11.2055H10.4141" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0035 7.6223C11.7837 7.6223 11.6055 7.4441 11.6055 7.22427C11.6055 7.00444 11.7837 6.82623 12.0035 6.82623" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12.0039 7.62237C12.2237 7.62237 12.4019 7.44416 12.4019 7.22433C12.4019 7.0045 12.2237 6.82629 12.0039 6.82629" stroke="#989898" stroke-width="1.71" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1_8594">
                                                        <rect width="24" height="24" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <a href="#searchInternetPackages" data-bs-toggle="modal" type="button" class="btn white_bg_btn border_black-200 m-auto">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.7636 10.4077C20.7636 16.0233 14.2643 21.0201 12.7277 22.123C12.5168 22.2744 12.2663 22.3487 12.0068 22.3487C11.7473 22.3487 11.4968 22.2744 11.2859 22.123C9.74924 21.0201 3.25 16.0233 3.25 10.4077C3.25 5.57142 7.17054 1.65088 12.0068 1.65088C16.8431 1.65088 20.7636 5.57142 20.7636 10.4077Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.82227 9.61062C8.82227 10.4552 9.15776 11.2651 9.75494 11.8623C10.3521 12.4595 11.1621 12.795 12.0066 12.795C12.8512 12.795 13.6611 12.4595 14.2583 11.8623C14.8555 11.2651 15.191 10.4552 15.191 9.61062C15.191 8.76608 14.8555 7.95612 14.2583 7.35894C13.6611 6.76176 12.8512 6.42627 12.0066 6.42627C11.1621 6.42627 10.3521 6.76176 9.75494 7.35894C9.15776 7.95612 8.82227 8.76608 8.82227 9.61062Z" stroke="#292929" stroke-width="1.71003" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                        Tjek adresse
                                    </a>
                                    <a href="#readMorePopup" data-bs-toggle="modal" class="package-link">Læs mere</a>
                                    <p>
                                        Pris i binding 6 mdr. 1.314 kr.<br>
                                        uden Waoo Smart WiFi
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-------------------------------------------Modal ------------------------------->
<div class="modal fade"
     id="searchInternetPackages"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-start pb-0 pt-64">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-64">
                <div class="search-section py-0">
                    <div class="container">
                        <h2 class="title black-950 mb-40 text-center fw-600">Kan jeg få nef Fiber?</h2>
                        <div class="form-group mb-32">
                            <input type="text" class="form-control" placeholder="Søg" aria-label="Søg" />
                            <button type="button" class="btn dark_blue_btn">Søg</button>
                            <ul class="searched-list border_black-200 mt-32">
                                <li><a class="black-950" href="order-internet03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-internet03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-internet03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-internet03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------Modal ------------------------------->
<div class="modal fade" id="readMorePopup" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-start pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="staticBackdropLabel">Waoo Fiber Extra</h4>
                <p class="fw-600 black-950 price mb-32">419,- <span class="small">pr. md.</span></p>
            </div>
            <div class="modal-body">
                <h5 class="box-inner-title mb-8">Hvad er smart WiFi?</h5>
                <p>Smart WiFi er en avanceret trådløs teknologi, der optimerer dit internet ved at forbedre hastighed, rækkevidde og stabilitet. Det bruger intelligente funktioner som mesh-netværk, automatisk kanalvalg og dynamisk båndstyring for at sikre, at du altid har den bedste forbindelse – uanset hvor i hjemmet du befinder dig. Smart WiFi gør det nemt at håndtere flere enheder samtidig og sikrer en problemfri oplevelse til streaming, gaming og arbejde.</p>
            </div>
        </div>
    </div>
</div>