@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<HomeChargingSection>>
@{
    var content = Model?.Content;
}

<!---------------------------------- home charging ------------------------->
<div class="pacakge-section home-charging turquoise_bg py-64">
    <div class="container">
        <div class="section-heading">
            <h2 class="black-950 fw-600">Hjemmeopladning til el- og hybridbiler</h2>
            <p class="black-950 mt-40">
                Bestilling foregår via Spiriis bestillingsportal. Når du klikker dig videre med
                ét af produkterne herunder, vil du blive viderestillet dertil.
            </p>
        </div>

        <div class="package-list">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="package-card white-bg">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="black-950 fw-600">
                                        Køb af Zaptec Go
                                    </h4>
                                    <p class="small black-600">
                                        Køn en komplet ladeløsning med verdens mindste ladeboks, der passer
                                        til alle el- og hybridbiler.
                                    </p>
                                </div>
                                <div class="price">
                                    <h3 class="black-950 fw-600">8.995 kr.</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            nef Serviceaftale til 79 kr. /md.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Standardinstallation
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            24/7 teknisk support
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Spirii Go-app
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Løbende softwareopdateringer
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Oplad, når strømprisen er lav
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer text-center">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <button type="button" class="btn light_blue_btn white m-auto">
                                        Køb ladeboks
                                    </button>
                                    <p class="small mt-32">
                                        Du bliver automatisk elkunde hos nef, hvis du ikke i forvejen er det
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="package-card white-bg">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    <h4 class="black-950 fw-600">
                                        Leje af Zaptec Go
                                    </h4>
                                    <p class="small black-600">
                                        Lej en komplet ladeløsning med verdens mindste ladeboks, der passer
                                        til alle el- og hybridbiler.
                                    </p>
                                </div>
                                <div class="price">
                                    <h3 class="black-950 fw-600">995 kr.</h3>
                                    <p class="small">i oprettelse</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            nef Serviceaftale til 79 kr. /md.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Standardinstallation
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            24/7 teknisk support
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Spirii Go-app
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Løbende softwareopdateringer
                                        </p>
                                    </li>
                                    <li>
                                        <p class="black-950">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                 fill="none">
                                                <g clip-path="url(#clip0_422_12091)">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                                          fill="#37B4B4" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_12091">
                                                        <rect width="16.0032" height="16.0032" fill="white"
                                                              transform="translate(0 -0.00158691)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Oplad, når strømprisen er lav
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer text-center">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <button type="button" class="btn light_blue_btn white m-auto">
                                        Lej ladeboks
                                    </button>
                                    <p class="small mt-32">
                                        Du bliver automatisk elkunde hos nef, hvis du ikke i forvejen er det
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
