@using Umbraco.Cms.Core.Models.Blocks
@using UmbracoProject.App_Code.Helpers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ImageBannerSection>>
@{
    var content = Model?.Content;
}


<!-----------------------------banner----------------------------->
<div class="banner">

    <img src="@content?.Image.GetWebp()" class="img-fluid banner" alt="banner">
    @if (content?.IsEnableScrollButton == true)
    {

        <a class="scroll-down" id="scrollButton">
            <p class="black-950 para">Scroll</p>
            <img src="~/assets/img/icons/line-arrow-down.svg" class="img-fluid" alt="">
        </a>
    }
</div>

@if (content?.IsEnableScrollButton == true)
{
    <script>
        document.getElementById("scrollButton").addEventListener("click", function () {
            window.scrollBy({ top: 550, behavior: "smooth" });
        });
    </script>
}
