@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<OrderNefElectricitySection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
}

<!-------------------------------------- order nef power --------------------->
<div class="order-nef-power @setting?.Theme">
    <div class="container">
        <div class="section-heading">
            <h2>@content?.HeadingText</h2>
            @Html?.Raw(content?.DescriptionText)
        </div>
        <div class="row">
            @if (content?.ElectricityPackaseList?.Count() > 0)
            {
                var count = 1;
                @foreach (var item in content?.ElectricityPackaseList)
                {
                    var electricityBlock = item as ElectricityPackages;
                    <div class="col-md-6">
                        <div class="order-nef-card">
                            <div class="card-body">
                                <h3>@electricityBlock?.Heading</h3>
                                <ul>
                                    @if (electricityBlock?.TextList?.Count() > 0)
                                    {
                                        @foreach (var list in electricityBlock.TextList)
                                        {
                                            <li>
                                                <p class="">@list</p>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="multiple-buttons m-auto">
                                    @Html.GetBlockListHtml(electricityBlock?.LinkList)
                                    @if (!string.IsNullOrWhiteSpace(electricityBlock?.SeeMoreButtonText))
                                    {
                                        <button type="button"
                                                class="btn border_black-200 white_bg_btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#readMorePopup@(count)" style="border:1px solid #@electricityBlock?.ButtonBorderColor">
                                            @electricityBlock?.SeeMoreButtonText
                                        </button>
                                    }
                                </div>
                            </div>

                            <div class="position-img">
                                @if (electricityBlock?.DefaultTagImage?.Content != null)
                                {
                                    <img src="@electricityBlock?.DefaultTagImage.MediaUrl()" class="img-fluid defaultImage" alt="" />
                                }
                                @if (electricityBlock?.HoverTagImage?.Content != null)
                                {
                                    <img src="@electricityBlock?.HoverTagImage?.MediaUrl()" class="img-fluid hoverImage d-none" alt="" />
                                }
                            </div>


                        </div>
                        <!-------------------------------------------Modal ------------------------------->
                        <div class="modal fade"
                             id="readMorePopup@(count)"
                             data-bs-keyboard="false"
                             tabindex="-1"
                             aria-labelledby="staticBackdropLabel"
                             >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <h4 class="modal-title" id="staticBackdropLabel">@electricityBlock?.ModelHeadingText</h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html?.Raw(electricityBlock?.ModelDescriptionText)
                                        <br />
                                        <a href="@electricityBlock?.ModelLink?.Url" class="btn dark_blue_btn">@electricityBlock?.ModelLink?.Name</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    count++;
                }
            }
        </div>
    </div>
</div>
