@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ServiceCardSection>>
@{
    var content = Model?.Content?.Cards;
    var setting = Model?.Settings as SectionSettingModel;
}

<div class="service-card @setting?.Theme">
    <div class="container">
        @if (content?.Count > 0)
        {
            <div class="row">
                @foreach (var item in content)
                {
                    var serviceBlock = item.Content as ServiceCardBlock;
                    <div class="col-lg-4 col-md-6">
                        <div class="card-outer @serviceBlock?.ServiceCardTheme">
                            <div class="card-detail">
                                <div class="card-icon">
                                    <img src="@serviceBlock?.CardIcon?.MediaUrl()" class="img-fluid" alt="">
                                </div>
                                <div class="card-body">
                                    <h3>@serviceBlock?.CardHeadingText</h3>
                                    <p>
                                        @serviceBlock?.CardDescription
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-button">
                                    @if (serviceBlock?.CardFooter?.Count > 0)
                                    {
                                        @foreach (var buttons in serviceBlock?.CardFooter)
                                        {
                                            var button = buttons.Content as IconLinkList;

                                            <a href="@button?.Link?.Url" class="btn @button?.ButtonTheme" style="border:1px solid #@(button?.BorderColor);">
                                                <img src="@button?.Icon?.MediaUrl()" class="img-fluid" alt="">
                                                @button?.Link?.Name
                                            </a>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
