@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ServiceCardSection>>
@{
    var content = Model?.Content?.Cards;
    var setting = Model?.Settings as SectionSettingModel;
}

<div class="service-card @setting?.Theme @(Model?.Content?.EnableTwoCardsInOneRaw == true ? "pt-0" : "")">
    <div class="container">
        @if (content?.Count > 0)
        {
            <div class="row">
                @foreach (var item in content)
                {
                    var serviceBlock = item.Content as ServiceCardBlock;
                    <div class="col-lg-@(Model?.Content.EnableTwoCardsInOneRaw == true ? "6" : "4") col-md-6 mb-32">
                        <div class="card-outer @serviceBlock?.ServiceCardTheme">
                            <div class="card-detail">
                                <div class="card-icon">
                                    <img src="@serviceBlock?.CardIcon?.MediaUrl()" class="img-fluid" alt="">
                                </div>
                                <div class="card-body">
                                    <h3>@serviceBlock?.CardHeadingText</h3>
                                    <p>
                                        @serviceBlock?.CardDescription
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-button">
                                    @if (serviceBlock?.CardFooter?.Count > 0)
                                    {
                                        @Html.GetBlockListHtml(serviceBlock?.CardFooter)
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
