        <!-------------------------------------- pacakge --------------------->
        <div class="pacakge-section my-64 py-64">
          <div class="container">
            <h2 class="black-950 mb-64 text-center fw-600">Find den TV-pakke, der passer dig</h2>
          </div>

          <div class="container-fluid px-3 px-xl-0">
            <div class="package-list tv_package">
              <div class="row">
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                  <div class="package-card">
                    <div class="card-detail">
                      <div class="card-header">
                        <div class="card-heading">
                          <h4 class="black-950 fw-600">Waoo Flex</h4>
                          <p class="small black-600">
                            Få en grundpakke på 16 kanaler og slip dig løs i Waoos kanalbutik, så du får præcis de
                            kanaler, du ønsker i din TV-pakke. Kan ikke kombineres med Kabel TV.
                          </p>
                        </div>
                        <div class="price">
                          <h3 class="black-950 fw-600">fra 99 kr.</h3>
                          <p class="small">/ pr. md.</p>
                        </div>
                      </div>
                      <div class="card-body">
                        <ul>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              16 TV-kanaler
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Waoo Web-TV (Maks. 4 brugere)
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="package-footer text-center">
                      <div class="card-footer">
                        <ul class="company-logo">
                          <li><img src="~/assets/img/bg-img/company1.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company2.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company3.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company4.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company5.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company6.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company7.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company8.svg" class="img-fluid" alt="" /></li>
                        </ul>
                        <div class="footer-btn">
                          <a
                            href="#searchTvPackages"
                            data-bs-toggle="modal"
                            type="button"
                            class="btn white_bg_btn mx-auto"
                          >
                            Tjek adresse
                          </a>
                          <a href="#seeAllPackages" data-bs-toggle="modal" class="package-link black-950 small"
                            >Se hele pakkens indhold</a
                          >
                          <p class="small">
                            Min. pris i binding for TV-pakken<br />
                            i 6 mdr. 594 kr.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                  <div class="package-card">
                    <div class="card-detail">
                      <div class="card-header">
                        <div class="card-heading">
                          <h4 class="black-950 fw-600">Waoo Lille</h4>
                          <p class="small black-600">
                            Få adgang til et bredt udvalg af de mest populære TV-kanaler, film og serier.
                          </p>
                        </div>
                        <div class="price">
                          <h3 class="black-950 fw-600">349 kr.</h3>
                          <p class="small">/ pr. md.</p>
                        </div>
                      </div>
                      <div class="card-body">
                        <ul>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              28 TV-kanaler
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Waoo Web-TV (Maks. 4 brugere)
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Viaplay Film & Serier
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="package-footer text-center">
                      <div class="card-footer">
                        <ul class="company-logo">
                          <li><img src="~/assets/img/bg-img/company1.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company2.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company3.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company4.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company5.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company6.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company7.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company8.svg" class="img-fluid" alt="" /></li>
                        </ul>
                        <div class="footer-btn">
                          <a
                            href="#searchTvPackages"
                            data-bs-toggle="modal"
                            type="button"
                            class="btn white_bg_btn mx-auto"
                          >
                            Tjek adresse
                          </a>
                          <a href="#seeAllPackages" data-bs-toggle="modal" class="package-link black-950 small"
                            >Se hele pakkens indhold</a
                          >
                          <p class="small">
                            Min. pris i binding for TV-pakken<br />
                            i 6 mdr. 1.974 kr.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                  <div class="package-card">
                    <div class="card-detail">
                      <div class="card-header">
                        <div class="card-heading">
                          <h4 class="black-950 fw-600">Waoo Favorit</h4>
                          <p class="small black-600">
                            Er du til sport og underholdning i verdensklasse, så er Waoo Favorit pakken for dig.
                          </p>
                        </div>
                        <div class="price">
                          <h3 class="black-950 fw-600">629 kr.</h3>
                          <p class="small">/ pr. md.</p>
                        </div>
                      </div>
                      <div class="card-body">
                        <ul>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              41 TV-kanaler
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Waoo Web-TV (Maks. 4 brugere)
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Viaplay Film & Serier
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              TV2 Play Basis
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="package-footer text-center">
                      <div class="card-footer">
                        <ul class="company-logo">
                          <li><img src="~/assets/img/bg-img/company1.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company2.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company3.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company4.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company5.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company6.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company7.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company8.svg" class="img-fluid" alt="" /></li>
                        </ul>
                        <div class="footer-btn">
                          <a
                            href="#searchTvPackages"
                            data-bs-toggle="modal"
                            type="button"
                            class="btn white_bg_btn mx-auto"
                          >
                            Tjek adresse
                          </a>
                          <a href="#seeAllPackages" data-bs-toggle="modal" class="package-link black-950 small"
                            >Se hele pakkens indhold</a
                          >
                          <p class="small">
                            Min. pris i binding for TV-pakken<br />
                            i 6 mdr. 3.534 kr.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                  <div class="package-card">
                    <div class="card-detail">
                      <div class="card-header">
                        <div class="card-heading">
                          <h4 class="black-950 fw-600">Waoo Stor</h4>
                          <p class="small black-600">Til dig, der gerne vil se det hele.</p>
                        </div>
                        <div class="price">
                          <h3 class="black-950 fw-600">829 kr.</h3>
                          <p class="small">/ pr. md.</p>
                        </div>
                      </div>
                      <div class="card-body">
                        <ul>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              64 TV-kanaler
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Waoo Web-TV (Maks. 4 brugere)
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              Viaplay Total
                            </p>
                          </li>
                          <li>
                            <p class="black-950">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_422_15069)">
                                  <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M15.584 1.52637C16.0726 1.92613 16.1446 2.64631 15.7449 3.13491L6.77681 14.0958C5.95849 15.096 4.47449 15.2197 3.50196 14.3686L0.390374 11.646C-0.0847342 11.2303 -0.132878 10.5081 0.282842 10.033C0.698561 9.55792 1.42072 9.50977 1.89583 9.9255L5.00741 12.6482L13.9755 1.68722C14.3752 1.19861 15.0954 1.1266 15.584 1.52637Z"
                                    fill="#A45699"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_422_15069">
                                    <rect
                                      width="16.0032"
                                      height="16.0032"
                                      fill="white"
                                      transform="translate(0 -0.00158691)"
                                    />
                                  </clipPath>
                                </defs>
                              </svg>
                              TV2 Play Favorit + Sport
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="package-footer text-center">
                      <div class="card-footer">
                        <ul class="company-logo">
                          <li><img src="~/assets/img/bg-img/company1.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company2.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company3.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company4.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company5.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company6.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company7.svg" class="img-fluid" alt="" /></li>
                          <li><img src="~/assets/img/bg-img/company8.svg" class="img-fluid" alt="" /></li>
                        </ul>
                        <div class="footer-btn">
                          <a
                            href="#searchTvPackages"
                            data-bs-toggle="modal"
                            type="button"
                            class="btn white_bg_btn mx-auto"
                          >
                            Tjek adresse
                          </a>
                          <a href="#seeAllPackages" data-bs-toggle="modal" class="package-link black-950 small"
                            >Se hele pakkens indhold</a
                          >
                          <p class="small">
                            Min. pris i binding for TV-pakken<br />
                            i 6 mdr. 4.734 kr.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-------------------------------------------Modal ------------------------------->
<div class="modal fade"
     id="searchTvPackages"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-start pb-0 pt-64">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-64">
                <div class="search-section py-0">
                    <div class="container">
                        <h2 class="title black-950 mb-40 text-center fw-600">Kan jeg få nef TV?</h2>
                        <div class="form-group mb-32">
                            <input type="text" class="form-control" placeholder="Søg" aria-label="Søg" />
                            <button type="button" class="btn dark_purple_btn">Søg</button>
                            <ul class="searched-list border_black-200 mt-32">
                                <li><a class="black-950" href="order-tv03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-tv03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-tv03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                                <li><a class="black-950" href="order-tv03.html">Jensensvej 44, 5300 Kerteminde</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn border_dark_purple white_bg_btn mx-auto">Allerede kunde?</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------Modal ------------------------------->
<div class="modal fade"
     id="seeAllPackages"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-start pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="staticBackdropLabel">Lidt, men godt</h4>
            </div>
            <div class="modal-body">
                <div class="overflow-box">
                    <p class="fw-600 black-950 price mb-32">299,- <span class="small">pr. md.</span></p>
                    <h5 class="box-inner-title mb-24">Kanaler</h5>
                    <div class="flex-bx brands-wrap">
                        <div class="item">
                            <img src="~/assets/img/icons/icon03.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 5</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon02.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 4</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon01.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon09.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2 Play</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon15.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Disney +</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon04.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">RTL</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon01.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon04.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">RTL</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon15.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Disney +</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon03.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 5</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon02.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 4</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon09.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2 Play</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon03.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 5</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon02.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Kanal 4</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon01.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon09.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">TV 2 Play</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon15.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Disney +</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon04.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">RTL</h6>
                        </div>
                    </div>
                    <hr class="line-splitter" />
                    <h5 class="box-inner-title mb-24">Viaplay Film og Serier</h5>
                    <div class="flex-bx brands-wrap mx272px">
                        <div class="item">
                            <img src="~/assets/img/icons/icon06.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Viaplay</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon07.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Nordisk Film</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon05.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Max</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon15.svg" alt="" class="img-fluid" />
                            <h6 class="item-title">Disney +</h6>
                        </div>
                        <div class="item">
                            <img src="~/assets/img/icons/icon16.png" alt="" class="img-fluid" />
                            <h6 class="item-title">Netflix</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>