  @using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<TvPackagesSection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
    var addressLookupPageUrl = Umbraco?.Content(new Guid("b8ecfce9-f1a7-4485-8d36-e08ec5166e26"))?.Url()?.TrimEnd("/");
}
@if (content != null)
{
    <!-------------------------------------- pacakge --------------------->
    <input type="hidden" id="package" value="tv" />
    <input type="hidden" id="redirecturl" value="@addressLookupPageUrl" />
    <div class="pacakge-section @setting?.Theme">
        <div class="container-xl">
            <div class="section-heading">
                @if (!string.IsNullOrWhiteSpace(content.Heading))
                {
                    <h2>@content.Heading</h2>
                }

                @if (!string.IsNullOrWhiteSpace(content.Description?.ToString()))
                {
                    @Html.Raw(content.Description)
                }
            </div>
            <div class="package-list">
                <div class="row">
                    @await Html.PartialAsync("~/Views/Partials/_TvPackages.cshtml")
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Partials/_PurchaseAddressSearchLocation.cshtml")
}
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/unfilled/dawa-autocomplete2.min.js"></script>
<script asp-append-version="true" src="~/assets/js/packagescommon.output.min.js"></script>