@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<IconLinkList>>;
@{
    var content = Model?.Content;
}

<a href="@content?.Link?.Url" class="btn @content?.ButtonTheme" style="border:1px solid #@content?.BorderColor">
    @if (content?.Icon?.Content != null)
    {
        <img src="@content?.Icon?.MediaUrl()" class="img-fluid" alt="">
    }
    @content?.Link?.Name
</a>



