@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<TextWithIcon>>;
@{
    var content = Model?.Content;
}

<li>
    <div class="icon-box">
        <img src="@content?.Icon?.MediaUrl()" class="img-fluid" alt="" />
    </div>
    <p class="@(content?.IsItalic == true ? "italic" : "")">@content?.Text</p>
</li>