@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<TextWithIcon>>;
@{
    var content = Model?.Content;
}

<li>
    <img src="@content?.Icon?.MediaUrl()" class="img-fluid" alt="" />
    <p>@content?.Text</p>
</li>