.available-section{
    padding: 64px 0px;
    .section-heading {
        h2 {
            color: $black-950;
        }
        p {
            color: $black-700;
        }
    }
    .position-list{
        max-width: 800px;
        margin: auto;
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            a{
                display: flex;
                border-radius: 8px;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                border: 1px solid $black-200;
                background-color: $white;

                .position-content{
                    h4{
                        margin-bottom: 4px;
                        color: $black-950;
                        font-weight: 600;
                    }
                    p {
                        color: $black-500;
                    }
                }

                .position-img{
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        
        }
    }

    .btn{
        margin: 40px auto 0px;
    }
}