
/*========================== background color =======================*/
.dark_blue_bg{
    background-color: #284655;
}
.space_blue_bg{
    background-color: #192A33;
}
.steel_blue_bg{
    background-color: #4878A2;
}
.light_blue_bg{
    background-color: #37B4B4;
}
.dark_purple_bg{
    background-color: #A45699;
}
.light_pink_bg {
    background-color: #FFE6F3;
}
.light_purple_bg{
    background-color: #F8F0F7;
}
.turquoise_bg{
    background-color: #EEF4F4;
}
.light_green_bg{
    background-color: #AAD29B;
}

.medium_green_bg{
    background-color: #E7F4E2;
}
.dark_pink_bg{
    background-color: #D1338A;
}
.dark_green_bg{
    background-color: #2A4854;
}




/*========================== color =======================*/
.dark_green{
    background-color: #2A4854;
}
.dark_blue{
    color: #284655;
}
.space_blue{
    color: #192A33;
}
.steel_blue{
    color: #4878A2;
}
.light_blue{
    color: #37B4B4;
}
.dark_purple{
    color: #A45699;
}
.light_purple{
    color: #F8F0F7;
}
.turquoise{
    color: #EEF4F4;
}
.light_green{
    color: #AAD29B;
}
.dark_pink{
    color: #D1338A;
}
.input-error{
    color: #D22A2A;
}


/*=================================== border-color ==================================*/
.border_dark_blue{
    border: 1px solid #284655;
}
.border_space_blue{
    border: 1px solid #192A33;
}
.border_steel_blue{
    border: 1px solid #4878A2;
}
.border_light_blue{
    border: 1px solid #37B4B4 !important;
}
.border_dark_purple{
    border: 1px solid #A45699 !important;
}
.border_light_purple{
    border: 1px solid #F8F0F7;
}
.border_turquoise{
    border: 1px solid #EEF4F4;
}
.border_light_green{
    border: 1px solid #AAD29B;
}
.border_dark_pink{
    border: 1px solid #D1338A;
}
.white_border{
    border: 1px solid #ffffff;
}
.black_border{
    border: 1px solid #000000;
}
.border_input-error{
    border: 1px solid #D22A2A;
}
.border_black-950{
    border: 1px solid  #292929;
}
.border_black-900{
    border: 1px solid  #3d3d3d;
}
.border_black-800{
    border: 1px solid  #464646;
}
.border_black-700{
    border: 1px solid  #525252;
}
.border_black-600{
    border: 1px solid  #656565;
}
.border_black-500{
    border: 1px solid  #7c7c7c;
}
.border_black-400{
    border: 1px solid  #989898;
}
.border_black-300{
    border: 1px solid  #bdbdbd;
}
.border_black-200{
    border: 1px solid  #dcdcdc !important;
}
.border_black-100{
    border: 1px solid  #efefef;
}
.border-white-200 {
    border: 1px solid #FFFFFF29;
}

.border_clr-100 {
    border-color: #efefef;
}

/*=============================== Black & white background==============================*/
.black-bg-950{
    background-color: #292929;
}
.black-bg-900{
    background-color: #3d3d3d;
}
.black-bg-800{
    background-color: #464646;
}
.black-bg-700{
    background-color: #525252;
}
.black-bg-600{
    background-color: #656565;
}
.black-bg-500{
    background-color: #7c7c7c;
}
.black-bg-400{
    background-color: #989898;
}
.black-bg-300{
    background-color: #bdbdbd;
}
.black-bg-200{
    background-color: #dcdcdc;
}
.black-bg-100{
    background-color: #efefef;
}
.white-bg{
    background-color: #ffffff;
}
.black-bg{
    background-color: #000000;
}


/*=============================== Black & white Text color==============================*/
.black{
    color: #000000;
}
.black-950{
    color: #292929;
}
.black-900{
    color: #3d3d3d;
}
.black-800{
    color: #464646;
}
.black-700{
    color: #525252;
}
.black-600{
    color: #656565;
}
.black-500{
    color: #7c7c7c;
}
.black-400{
    color: #989898;
}
.black-300{
    color: #bdbdbd;
}
.black-200{
    color: #dcdcdc;
}
.black-100{
    color: #efefef;
}
.white{
    color: #ffffff;
}