.faq-section {
    position: relative;
    padding: 125px 0px;
    overflow: hidden;

    .headings {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 720px;
        margin: 0 auto 48px;
        .title {
            color: $black-950;
            font-weight: 600;
        }
    }

    [class*=container] {
        position: relative;
    }

    .faq-container {
        max-width: 752px;
        margin: auto;
    }

    [class*=img] img{
        width: 400px;
        height: 400px;
        object-fit: none;
    }

    .img1 {
        width: fit-content;
        position: absolute;
        bottom: -200px;
        right: -50px;
    }
    .img11 {
        width: fit-content;
        position: absolute;
        right: -40px;
        top: -20px;

        @media screen and (max-width: 1199px) {
            right: -200px;
        }
    }

    .img2 {
        width: fit-content;
        position: absolute;
        left: -80px;
        top: -170px;
    }
    
    .img22 {
        width: fit-content;
        position: absolute;
        left: -90px;
        top: -90px;
    }

    .img3 {
        width: fit-content;
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width: 1245px) {
            left: 0;
        }
    }

    .img4 {
        width: fit-content;
        position: absolute;
        left: -100px;
        bottom: -100px;

        @media screen and (max-width: 1199px) {
            left: -150px;
        }
    }

    .img5 {
        width: fit-content;
        position: absolute;
        bottom: 0;
        left: -90px;

        @media screen and (max-width: 1199px) {
            left: -150px;
        }
    }

    .faq-contact {
        padding-top: 96px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;

        h3 {
            font-size: 32px;
            line-height: 45.15px;
            color: $space_blue;
            font-weight: 600;
        }
    }
    &.dark_blue_bg {
        .headings {
            .title {
                color: $white;
            }
            p {
                color: $white;
            }
        }
    }
}

.rotate-right {
    transform: rotate(15deg);
}