@font-face {
    font-family: 'Houschka Rounded Alt';
    src: url('../../font/HouschkaRoundedAlt-Medium.eot');
    src: url('../../font/HouschkaRoundedAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-Medium.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-Medium.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-Medium.ttf') format('truetype'),
        url('../../font/HouschkaRoundedAlt-Medium.svg#HouschkaRoundedAlt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Houschka Rounded Alt';
    src: url('../../font/HouschkaRoundedAlt-DemiBold.eot');
    src: url('../../font/HouschkaRoundedAlt-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-DemiBold.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-DemiBold.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-DemiBold.ttf') format('truetype'),
        url('../../font/HouschkaRoundedAlt-DemiBold.svg#HouschkaRoundedAlt-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Houschka Rounded Alt';
    src: url('../../font/HouschkaRoundedAlt-Bold.eot');
    src: url('../../font/HouschkaRoundedAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-Bold.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-Bold.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-Bold.ttf') format('truetype'),
        url('../../font/HouschkaRoundedAlt-Bold.svg#HouschkaRoundedAlt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Houschka Rounded Alt';
    src: url('../../font/HouschkaRoundedAlt-Light.eot');
    src: url('../../font/HouschkaRoundedAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-Light.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-Light.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-Light.ttf') format('truetype'),
        url('../../font/HouschkaRoundedAlt-Light.svg#HouschkaRoundedAlt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*=======================================for h1================================*/

@font-face {
    font-family: 'HouschkaRoundedAlt';
    src: url('../../font/HouschkaRoundedAlt-Regular12.eot');
    src: url('../../font/?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-Regular12.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-Regular12.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-Regular12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*==================================for 400 ================================*/
@font-face {
    font-family: 'HouschkaRoundedAlt 7';
    src: url('../../font/HouschkaRoundedAlt-Regular6.eot');
    src: url('../../font/?#iefix') format('embedded-opentype'),
        url('../../font/HouschkaRoundedAlt-Regular6.woff2') format('woff2'),
        url('../../font/HouschkaRoundedAlt-Regular6.woff') format('woff'),
        url('../../font/HouschkaRoundedAlt-Regular6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}