.electricity-exchange {
    padding: 64px 0px;

    .row {
        margin: 0 -8px;

        [class*=col-] {
            padding: 0 8px;
        }
    }

    .electricity-card {
        padding: 16px;
        border-radius: 16px;
        height: 100%;
        background-color: $dark_blue;
        color: $white;

        .card-header {
            margin-bottom: 24px;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title {
                font-size: 18px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 8px;
                color: $white;

                &+p {
                    font-size: 14px;
                    line-height: 32px;
                    font-weight: 600;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }

    &.dark_blue_bg,
    &.dark_green_bg {
        .section-heading h2 {
            color: $white;
        }

        .electricity-card {
            background-color: $white;
            color: $dark_blue;
        }
    }
}

.alt-contact {
    padding: 64px 0px;


    .flex-row-reverse {
        .buy_charging-doodles {
            img {
                right: auto;
                left: -50px;
            }
        }
    }

    &.sell-electricity {
        .section-detail {
            .section-content {
                h2 {
                    max-width: 545px;
                }

                p {
                    max-width: 512px;
                }
            }
        }
    }

    .section-detail {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 512px;
        position: relative;

        &.mx-w-545 {
            max-width: 545px;
        }

        .section-content {
            h2 {
                margin-bottom: 16px;
                font-weight: 600;
                color: $black-950;
            }

            p {
                max-width: 512px;
                margin-bottom: 16px;
                color: $black-700;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .contact-form {
        padding: 24px;
        border-radius: 16px;
        max-width: 600px;
        margin: auto;
        height: 100%;
        background-color: $turquoise;

        .form-outer {
            .form-headings {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .form-title {
                    font-weight: 600;
                    color: $space_blue;
                }

                p {
                    color: $space_blue;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }


        .row {
            margin: 0px -8px;
        }

        .row>* {
            padding-right: 8px;
            padding-left: 8px;
            gap: 24px;
        }

        .form-group {
            margin-bottom: 24px;
        }

        .btn {
            margin-top: 16px;
        }

        .form-submitted {
            padding: 137px 44px;
            text-align: center;

            .icon {
                img {
                    height: 168px;
                    width: 168px;
                }
            }

            .content {
                display: flex;
                align-items: center;
                flex-direction: column;

                h2 {
                    color: $black-950;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 18px;
                    line-height: 32px;
                    max-width: 400px;
                    margin: 0 auto 32px;
                }
            }
        }

        &.dark_blue_bg,
        &.dark_green_bg,
        &.dark_purple_bg,
        &.dark_pink_bg {
            .label {
                color: $white;
            }
        }
    }

}

.electricity-banner {
    .col-md-3 {
        width: 25.16%;
    }

    .col-md-9 {
        width: 74.84%;
    }

    .content {
        text-align: left;
        max-width: 720px;

        p {
            margin-top: 40px;
        }
    }

    .electricity-banner-list {
        border-radius: 16px;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
            display: flex;
            align-items: center;
            text-align: left;

            img {
                width: 24px;
            }

            p {
                padding-left: 16px;
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}

.order-nef-power {
    padding: 64px 0px;

    .row {
        margin: 0 -12px;

        [class*=col-] {
            padding: 0 12px;
        }
    }

    .section-heading {
        margin-bottom: 96px;

        h2 {
            margin-bottom: 8px;
        }

        p {
            color: $black-950;
        }
    }

    .order-nef-card {
        padding: 32px;
        border-radius: 16px;
        position: relative;
        background-color: $turquoise;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        overflow: hidden;

        .position-img {
            width: max-content;
            position: absolute;
            top: -50px;
            right: 20px;

            img {
                height: 300px;
                width: 300px;
                object-fit: cover;
            }
        }



        .card-body {
            margin-bottom: 63px;
            max-width: 288px;
            position: relative;
            z-index: 1;

            h3 {
                margin-bottom: 32px;
                color: $space_blue;
                font-weight: 600;
            }

            ul {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    color: $space_blue;
                    list-style: inherit;
                    color: $space_blue;
                    font-size: 16px;
                    line-height: 27px;

                    p {
                        color: $space_blue;
                        font-size: 16px;
                        line-height: 27px;
                    }
                }
            }
        }

        .card-footer {
            position: relative;
            z-index: 1;

            .btn {
                border-width: 1.5px !important;
            }
        }

        &:hover,
        &:focus,
        &:active,
        &:focus-visible {
            background-color: $light_blue;

            .card-body {
                h3 {
                    color: $white;
                }

                ul {
                    li {
                        color: $white;

                        p {
                            color: $white;
                        }
                    }
                }
            }

            .btn {
                &.light_blue_btn {
                    background-color: $dark_blue !important;
                    color: $white !important;
                }

                &.white_bg_btn {
                    background-color: $light_blue !important;
                    color: $white !important;
                }
            }

        }
    }
}

.electricity-price {
    padding: 64px 0px;

    .electricity-price-detail {
        .head-part {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .content {
                max-width: 960px;

                h2 {
                    margin-bottom: 8px;
                    color: $black-950;
                    font-weight: 600;
                }

                p {
                    color: $black-950;
                }
            }
        }
    }

    .electricity-price-slider {
        .owl-carousel {
            .owl-stage-outer {
                .owl-stage {
                    height: auto;
                }
            }
        }

        .customer-card {
            padding: 32px;
            border-radius: 16px;
            transition: $transition;
            width: 100%;
            height: 810px;
            perspective: 1000px;

            .card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;

                .card-head {
                    .tag {
                        display: inline-flex;
                        align-items: center;
                        padding: 8px;
                        border-radius: 8px;
                        gap: 8px;
                        color: $white;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .title {
                        min-height: 74px;
                        color: $black-950;
                        font-weight: 600;
                        margin: 16px 0 32px;
                    }
                }

                .card-content {
                    .card-image {
                        img {
                            border-radius: 16px;
                        }
                    }

                    .card-list {
                        li {
                            font-size: 18px;
                            line-height: 32px;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }

                            svg {
                                flex-shrink: 0;
                            }

                            img {
                                width: 32px;
                                height: 32px;
                                flex-shrink: 0;
                            }
                        }
                    }
                }

                .card-front,
                .card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    transition: $transition;

                    .card-content {
                        height: 100%;
                        flex-direction: column;
                        display: flex;

                        .card-list {
                            flex: 1;
                        }
                    }
                }

                .card-back {
                    transform: rotateY(180deg);

                    .card-head {
                        .title {
                            font-style: italic;
                            color: $white;
                        }
                    }

                    .card-content {
                        .card-list {
                            p {
                                font-size: 18px;
                                line-height: 32px;
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                margin-bottom: 32px;
                                color: $white;

                                &:not(:last-child) {
                                    margin-bottom: 32px;
                                }
                            }
                        }
                    }
                }
            }

            &.show-details {
                background-color: $dark_blue;

                .card-inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.electricity-bill {
    padding: 64px 0px;

    .row {
        margin: 0 -28px;

        [class*=col-] {
            padding: 0 28px;
        }
    }

    .section-heading {
        h2 {
            margin-bottom: 64px;
        }
    }

    .electricity-bill-detail {

        // padding: 0px 151px;
        .video-img {
            background-color: $dark_blue;
            max-width: 960px;
            margin: 0px auto 96px;
            width: 100%;
            height: 560px;
            border-radius: 16px;
        }

        .electricity-bill-list {
            padding: 0 55px;

            .electricity-bill-card {
                .icon-box {
                    width: 48px;
                    height: 48px;
                    padding: 12px;
                    border-radius: 8px;
                    margin-bottom: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $black-100;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-right: 22px;

                    .card-title {
                        font-weight: 600;
                        color: $black-950;

                        &+p {
                            color: $black-700;
                            font-size: 18px;
                            line-height: 32px;
                        }
                    }


                    ul {
                        padding-left: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        li {
                            list-style: inherit;

                            p {
                                font-size: 16px;
                                line-height: 27px;
                                color: $black-700;
                            }

                            &::marker {
                                color: $light_blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-charging-section {}