$dark_blue: #284655;
$space_blue:  #192A33;
$steel_blue:  #4878A2;
$light_blue:  #37B4B4;
$dark_purple:  #A45699;
$light_purple:  #F8F0F7;
$light_pink:  #FFE6F3;
$turquoise:  #EEF4F4;
$light_green:  #AAD29B;
$dark_pink:  #D1338A;
$input-error: #D22A2A;

$black-950: #292929;
$black-900: #3d3d3d;
$black-800: #464646;
$black-700: #525252;
$black-600: #656565;
$black-500: #7c7c7c;
$black-400: #989898;
$black-300: #bdbdbd;
$black-200: #dcdcdc;
$black-100: #efefef;
$white: #ffffff;

$transition: 0.4s all ease;