<!-------------------------------------------Modal ------------------------------->
<div class="modal fade"
     id="searchPackages"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-start pb-0 pt-64">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-64">
                <div class="search-section py-0">
                    <div class="container">
                        <h2 class="title black-950 mb-40 text-center fw-600"> Kan jeg få nef TV?</h2>
                        <div class="form-group mb-32 autocomplete-container">
                            <input type="text" id="adresse" class="form-control" placeholder="Søg" aria-label="Søg" />
                            <button type="button" disabled class="btn location-search-button dark_purple_btn">Søg</button>

                        </div>
                        <a href="#" class="btn border_dark_purple white_bg_btn mx-auto">Allerede kunde?</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>